{% load static %}

<section id="project" class="resume">
    <div class="container">

        <div class="section-title">
            <span>Projects</span>
            <h2>Projects</h2>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <h3 class="resume-title">Major previous projects</h3>
                <div class="resume-item pb-0">
                    <h4>IAMS – A suite of integrated autonomous microscopy systems for imaging anatomies of complex 3D
                        cell culture systems</h4>
                    <p>
                    <ul>
                        <li style="text-align:justify">Project funded by A*STAR/JCO (Joint Council SERC-BMRC/A*STAR)
                            Singapore
                        </li>
                        <li style="text-align:justify">Partners: three A*STAR institutes (the Institute for Infocomm
                            Research I2R/SERC, the Bioinformatic Institute BII/BMRC, the Institute of Molecular and Cell
                            Biology IMCB/BMRC and the Institute of Medical Biology IMB/BMRC)
                        </li>
                        <li style="text-align:justify">Duration: 3 years (2013–2016)
                        </li>
                    </ul>
                    </p>

                    <h4>FlexMIm – collaborative digital histopathology</h4>
                    <p>
                    <ul>
                        <li style="text-align:justify">Funded by the Consolidated Interministerial Fund (Fonds Unitaires
                            Interministériels) French Ministry of Industry (MINEFE)
                        </li>
                        <li style="text-align:justify">Project involving Orange Heathcare, Tribvn, Pertimm, the
                            University Pierre and Marie Curie, the Univ. Paris Diderot and the Assistance publique –
                            Hôpitaux de Paris, the public hospital system (établissement public de santé) of the city of
                            Paris and its suburbs (AP-HP).
                        </li>
                        <li style="text-align:justify">Role: Co-Principal Investigator and WP manager (Semantic and
                            Imaging)
                        </li>
                        <li style="text-align:justify">Duration: 3.5 years (2013–2016)
                        </li>
                    </ul>
                    </p>

                    <h4>MICO - COgnitive MIcroscope: A cognition-driven visual explorer for histopathology. Application
                        to breast cancer grading.</h4>
                    <p>
                    <ul>
                        <li style="text-align:justify">Granted by the Technologies for Health program (TecSan -
                            Technolgies pour la Sante) of the French National Research Agency (Agence Nationale de la
                            Recherche - ANR).
                        </li>
                        <li style="text-align:justify">Partners: IPAL/UJF, LIP6/UPMC, TRIBVN (SME Châtillon/Paris),
                            THALES-TCF, Pitié-Salpêtrière Hospital - Paris, AGFA Healthcare France
                        </li>
                        <li style="text-align:justify">Personal role in the project: Principal Investigator
                        </li>
                        <li style="text-align:justify">Duration: 3.5 years (2011–2014)
                        </li>
                        <li style="text-align:justify">Objectives:
                            <ul style="text-align:justify">
                                <li style="text-align:justify">The cognitive microscope (MICO) aims at radically
                                    modifying the medical practices by proposing a new cognitive medical imaging
                                    environment able to improve reliability of decision making in histopathology.
                                </li>
                                <li style="text-align:justify">MICO aims at moving a step forward in medical practice by
                                    proposing the foundations of a new confluent cognitive medical imaging technology
                                    using context in intelligent way.
                                </li>
                                <li style="text-align:justify">MICO behaves in a cognitively consistent way with
                                    standard medical practice, following a uniform representation of image analysis,
                                    reasoning and context elements.
                                </li>
                            </ul>
                        </li>
                        <li style="text-align:justify">Deliverables, reports
                            <ul style="text-align:justify">
                                <li style="text-align:justify">MICO Project assessment (2014)
                                </li>
                                <li style="text-align:justify">MITOS @ ICPR 2012 mitosis benchmark & detection contest
                                </li>
                                <li style="text-align:justify">MITOS & ATYPIA @ ICPR 2014 mitosis & atypia benchmark
                                </li>
                            </ul>
                        </li>
                    </ul>
                    </p>

                    <h4>IVS4NSC - "An Intelligent Vision System for Quantitative Microscopy in Neural Stem Cells
                        Progenitor Growth and Differentiation".</h4>
                    <p>
                    <ul>
                        <li style="text-align:justify">Granted by A*STAR/JCO (Joint Council Office, A*STAR) Singapore
                        </li>
                        <li style="text-align:justify">Partners: The project involves IPAL and three A*STAR institutes
                            (Institute for Infocomm Research I2R/SERC, Bioinformatic Institute BII/BMRC and the
                            Institute of Medical Biology IMB/BMRC)
                        </li>
                        <li style="text-align:justify">Duration: 3,5 years (2009–2013)
                        </li>
                        <li style="text-align:justify">Objectives:
                            <ul style="text-align:justify">
                                <li style="text-align:justify">The project aims to develop an intelligent vision system
                                    for the analysis of neural stem cells, their progenitors and cell differentiation;
                                    by integrating image processing and machine learning with microscopy to drive
                                    systematic high-throughput high-content screening to elucidate gene functions and
                                    signalling pathways.
                                </li>
                                <li style="text-align:justify">The vital knowledge gained in this project can
                                    potentially be applied as therapeutics for the treatment of Central Nervous System
                                    diseases such as Parkinson's and Alzheimer's.
                                </li>
                            </ul>
                        </li>
                        <li style="text-align:justify">Related link: Image Informatics of Stem Cells
                        </li>
                    </ul>
                    </p>

                    <h4>IC0604 - EURO-TELEPATH -“Telepathology Network in Europe”</h4>
                    <p>
                    <ul>
                        <li style="text-align:justify">COST Action European Cooperation in Science and Technology
                        </li>
                        <li style="text-align:justify">Partners: Spain, France, Germany, Grece, Italy, Switzerland,
                            Croatia, Finland, Lithuania, Nederland, Norway, Poland, Portugal, United Kingdom.
                        </li>
                        <li style="text-align:justify">Duration: 4 years (2007–2011)
                        </li>
                        <li style="text-align:justify">Domain : telepathology, virtual microscopy, histopathology
                        </li>
                    </ul>
                    </p>

                    <h4>MMedWeb "Multimedia Medical Conceptual Web for Intelligent Information Access"</h4>
                    <p>
                    <ul>
                        <li style="text-align:justify">Granted by A*STAR/SERC - Science & Engineering Research Council,
                            Agency for Science, Technology and Research, Singapore
                        </li>
                        <li style="text-align:justify">Partners: CNRS, NUS, I2R/A*STAR, Nat. Univ. Hospital (NUH),
                            National Healthcare Group, Singapore General Hospital (SGH)
                        </li>
                        <li style="text-align:justify">Personal role in the project; Co-Principal Investigator
                        </li>
                        <li style="text-align:justify">Duration: 3 years (2007–2010)
                        </li>
                        <li style="text-align:justify">Objectives:
                            <ul style="text-align:justify">
                                <li style="text-align:justify">Developing a framework for the semantic structuring and
                                    organization of multimedia medical information (images, reports).
                                </li>
                                <li style="text-align:justify">Implementing a prototype system of the framework with
                                    user-friendly network tools for navigation and query of MMedWeb.
                                </li>
                                <li style="text-align:justify">Trial integration of MMedWeb with existing medical
                                    databases (PACS, RIS, etc.)
                                </li>
                            </ul>
                        </li>
                        <li style="text-align:justify">MMedWeb Project assessment (2010) [slides]
                        </li>
                    </ul>
                    </p>

                </div>
            </div>
            <div class="col-lg-6">
                <div class="resume-item pb-0">
                    <h4>ONCO-MEDIA "Ontology and COntext related MEdical image Distributed Intelligent Access"</h4>
                    <p>
                    <ul>
                        <li style="text-align:justify">Funded by the 5th ICT-ASIA Programme (France / Asia)
                        </li>
                        <li style="text-align:justify">International partners from Singapore (IPAL), France (CREATIS,
                            LIRIS, LIP6, IS3, FEMTO-ST), Switzerland (UNIGE), Taiwan (NTU), Philippine (ATENEO), Japan
                            (CIGG)
                        </li>
                        <li style="text-align:justify">Personal role in the project: Principal Investigator
                        </li>
                        <li style="text-align:justify">Duration: 2 years (2006–2007 and 2009–2010)
                        </li>
                        <li style="text-align:justify">Objectives:
                            <ul style="text-align:justify">
                                <li style="text-align:justify">To develop a novel grid-distributed, contextual and
                                    semantic based, intelligent information access framework for medical images and
                                    associated medical reports
                                </li>
                                <li style="text-align:justify">To explore new medical image diagnosis assistance,
                                    teaching and research access applications using semantic, visual and
                                    context-sensitive medical information with the grid computing facilities
                                </li>
                                <li style="text-align:justify">To crystallize a network of research excellence in the
                                    field of distributed medical images access among Asia, French and French Switzerland
                                    partners, leveraging on their complementary scientific values and experience
                                </li>
                            </ul>
                        </li>
                        <li style="text-align:justify">ONCO-MEDIA Project assessment (2010) [pdf]
                        </li>
                    </ul>
                    </p>

                    <h4>PROTEUS - A Generic Platform for E-maintenance</h4>
                    <p>
                    <ul>
                        <li style="text-align:justify">FP5 European Integrated Project of ITEA program (Information
                            Technology for European Advancement)
                        </li>
                        <li style="text-align:justify">Duration : 3 years (2002–2005)
                        </li>
                        <li style="text-align:justify">14 European industrial and academic partners (France; Germany,
                            Belgium) : CEGELEC, AKN, Univ. Munich, LORIA-INRIA/CNRS, LIP6/UPMC, FEMTO-ST/UFC, LIFC/UFC,
                            Pertinence Data ...
                        </li>
                    </ul>
                    </p>

                    <h4>NEMOSYS - Naval E-Maintenance Oriented SYStem</h4>
                    <p>
                    <ul>
                        <li style="text-align:justify">Research contract DCNS: Direction des Constructions Navales
                            Services, France
                        </li>
                        <li style="text-align:justify">Duration: 2 years (2004–2006), Role of FEMTO-ST : PI
                        </li>
                        <li style="text-align:justify">6 French industrial and academic partners of GdR MACS, GT MACOD:
                            FEMTO-ST/UFC, CEGELEC, CRAN, UTT
                        </li>
                        <li style="text-align:justify">Scope: diagnostic, prognostic and dynamic monitoring
                        </li>
                        <li style="text-align:justify">This collaboration allowed the vreation in 2007 of the spin-off
                            e-m@systec, TEMIS incubation, Besançon
                        </li>
                    </ul>
                    </p>

                </div>

                <h3 class="resume-title">Main ongoing projects</h3>
                <div class="resume-item pb-0">
                    <h4>EIT Health project PAPHOS: Platform for advanced prescriptive health operational system.</h4>
                    <p>
                    <ul>
                        <li style="text-align:justify">Big data in healthcare (use cases: digital pathology & sleep
                            apnea)
                        </li>
                        <li style="text-align:justify">Granted by the European Institute of Innovation & Technology /
                            Knowledge and Innovation Community (KIC) - EIT Health
                        </li>
                        <li style="text-align:justify">Consortium: ATHOS Spain SAE, BULL SAS, CEA, Univ. Pierre et Marie
                            Curie - Paris 6 (UPMC), Univ. Joseph Fourier (UJF), Commissariat à l'énergie atomique et aux
                            énergies alternatives (CEA), Universidad Politécnica de Madrid, GMV soluciones globales
                            internet (GMV), Karolinska Instituet (KI), AVENTYN.
                        </li>
                        <li style="text-align:justify">URL EIT Health: http://eit.europa.eu/eit-community/eit-health
                        </li>
                        <li style="text-align:justify">URL PAPHOS: https://www.eithealth.eu/paphos
                        </li>
                        <li style="text-align:justify">Personal role in PAPHOS: Digital Pathology use-case with the
                            Pitié-Salpêtrière Hospital, Paris.
                        </li>
                        <li style="text-align:justify">Duration: Two years year (2016-2017).
                        </li>
                    </ul>
                    </p>

                    <h4>Multiparametric ultrasonic classification to evaluate tumor progression.</h4>
                    <p>
                    <ul>
                        <li style="text-align:justify">Granted by the Medical Research Foundation (FRM, France);
                            Bio-ingénieering for health
                        </li>
                        <li style="text-align:justify">Partners: Sorbonne Universités, Hopital de la Pitié-Salpêtrière,
                            Biacoustics Research Lab / Univ.Illinois Urbana-Champaign
                        </li>
                        <li style="text-align:justify">Duration: 3 years (2014–2017)
                        </li>
                    </ul>
                    </p>

                    <h4>Quantitative Tumour Angiogenesis Assessments using 3D Radiographic/ Histopathologic Imaging and
                        Xenotransplantation for Cancer Therapy.</h4>
                    <p>
                    <ul>
                        <li style="text-align:justify">Granted by Career Development Award (CDA A*STAR / JCO)
                        </li>
                        <li style="text-align:justify">Partners: Bioinformatics Institute, National Cancer Centre
                            Singapore, Singapore General Hospital, Institute for Infocomm Research, Roche Translational
                            Medicine Hub – Singapore, Inst. Bioengineering & Nanotech, Nanyang Technological University
                        </li>
                        <li style="text-align:justify">Duration: 3 years (2014–2017)
                        </li>
                    </ul>
                    </p>

                </div>
            </div>
        </div>

    </div>
</section>