{% load static %}
<section id="research" class="about">
    <div class="container">

        <div class="section-title">
            <span>Research</span>
            <h2>Research</h2>
        </div>

        <div class="row">
            <div class="content ps-lg-4 d-flex flex-column justify-content-center">
                <div class="row">
                    <div class="col-lg-12">
                        <ul>
                            <li><i class="bi bi-chevron-right"></i><a href="#testimonials"> <strong>PhD Supervised</strong></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 d-flex flex-column align-items-stretch">
                <p style="text-align:justify">Scientific Challenge : BioMedical Image Understanding
                </p>
                <p style="text-align:justify">
                    The major scope of our research is to set the bases of symbolic cognitive high-content biomedical
                    image
                    analysis, by actively and continuously include medical explicit and implicit knowledge. This
                    challenge
                    deals with a tripolar approach considering the cognitive vision paradigms (in cognito) applied to
                    the
                    medical image (in- & ex-vivo) in the framework of the virtual physiological human (in silico) :
                </p>
            </div>
            <div class="row justify-content-center m-3">
                <div class="col-6">
                    <img src="{% static 'img/cognitive_medical_image.png' %}" class="img-fluid" alt="Responsive image">
                </div>
            </div>
            <div class="col-lg-12 d-flex flex-column align-items-stretch">
                <p style="text-align:justify">
                </p>
                <p style="text-align:justify">BioMedical Image Understanding (in Cognito – in Silico – in Vivo)
                </p>
                <p style="text-align:justify">
                    Multiscale and multimodal bioimage analysis and computer vision supported by medical visual
                    semantics,
                    constitute the core competence necessary to this approach. The exploration concerns high-throughput
                    screening and high resolution macromodalities. Prognosis traceability and uncertainty management are
                    considered as important elements enabling a constant implication of our medical partners and an
                    effective translational approach. Integrating micro and macro modalities in the next generation of
                    PACS
                    and metadata management platforms, necessitates to go from the semiologic approaches towards
                    operational
                    morphogenetic models, by considering morphological, bio-physical and genetic aspects. This
                    necessitates
                    a close collaboration within multidisciplinary teams/projects.
                </p>
                <p style="text-align:justify">
                    Keywords: BioMedical Image Analysis, BioMedical Image Understanding, Multimodal Medical Image
                    Fusion,
                    Content-Based Medical Image Indexing and Retrieval, Diagnosis and Prognosis.
                </p>
                <p style="text-align:justify">
                    Translational challenges related to the proposed themes
                </p>
                <p style="text-align:justify">
                    Our scientific challenges can be grouped in three categories, related to partcular clinical
                    challenges,
                    all leaded in collaboration with local hospitals :
                </p>
                <p>
                <div class="content ps-lg-4 d-flex flex-column justify-content-center">
                    <div class="row">
                        <div class="col-lg-6">
                            <ul>
                                <li><i class="bi bi-chevron-right"></i> <strong>High-content biomedical images
                                    understanding</strong></li>
                                <li><span>Breast cancer grading and visual reasoning for digital histopathology</span>
                                </li>
                                <li><span>3D stem cells traking</span></li>
                                <li><span>3D neurite tracing</span></li>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <ul>
                                <li><i class="bi bi-chevron-right"></i> <strong>Medical image conceptualization for
                                    early
                                    detection, diagnosis and prognosis</strong></li>
                                <li><span>Multimodal image indexing & analysis for Parkinson’s Disease prognosis.</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>


            </div>
        </div>

    </div>
</section>