{% load static %}

<section id="resume" class="resume">
    <div class="container">

        <div class="section-title">
            <span>Curriculum Vitae</span>
            <h2>Curriculum Vitae</h2>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <h3 class="resume-title">Sumary</h3>
                <div class="resume-item pb-0">
                    <h4>Daniel RACOCEANU</h4>
                    <p style="text-align:justify"><em>Innovative and deadline-driven Graphic Designer with 3+ years of
                        experience designing and
                        developing user-centered digital/print marketing material from initial concept to final,
                        polished deliverable.</em></p>

                    <p style="text-align:justify"><em>I'm a Professor of Computer Science and Engineering at Sorbonne
                        University, Paris, France
                    </em></p>
                    <p style="text-align:justify"><em>
                        Principal Investigator at Paris Brain Institute (CNRS, Inserm, APHP, Sorbonne) - Inria team «
                        Aramis »,
                        Paris, France
                    </em></p>
                    <p style="text-align:justify"><em>
                        My main interest lies in High-content Biomedical Image Analysis (Computational Histopathology)
                        and
                        Interpretable Machine / Deep Learning
                    </em></p>
                    <p style="text-align:justify"><em>
                        Part of my teaching duties includes Artificial Intelligence, Machine Learning, Image Processing,
                        Biomedical Image Processing, Object Oriented Programming and 3D Computer Graphics.
                    </em></p>
                </div>

                <h3 class="resume-title">Professional Experience & Responsabilities:</h3>
                <div class="resume-item">
                    <h4>Full Professor, Sorbonne University, Paris, France (UPMC)</h4>
                    <h5>2019 - Present</h5>
                </div>
                <div class="resume-item">
                    <h4>Member of the Board of Directors of the MICCAI Society</h4>
                    <h5>2018 - Present</h5>
                </div>
                <div class="resume-item">
                    <h4>President, European Society of Digital and Integrative Pathology (ESDIP)</h4>
                    <h5>2018 - 2020</h5>
                </div>
                <div class="resume-item">
                    <h4>Full Professor, Pontificia Universidad Católica del Perú (PUCP)</h4>
                    <h5>2016 - 2018</h5>
                </div>
                <div class="resume-item">
                    <h4>Vice-President, European Society of Digital and Integrative Pathology (ESDIP)</h4>
                    <h5>2016 - 2018</h5>
                </div>
                <div class="resume-item">
                    <h4>Full Professor, University Pierre and Marie Curie, Paris, France (UPMC)</h4>
                    <h5>2011 - 2016</h5>
                </div>
                <div class="resume-item">
                    <h4>Full Professor (adj.), National University of Singapore (NUS)</h4>
                    <h5>2013 - 2015</h5>
                </div>
                <div class="resume-item">
                    <h4>Director of the CNRS International Research Lab. (IPAL UMI CNRS), Singapore</h4>
                    <h5>2008 - 2014</h5>
                </div>
                <div class="resume-item">
                    <h4>CNRS Senior Research Fellow, IPAL UMI CNRS 2955, Singapore</h4>
                    <h5>2011 - 2013</h5>
                </div>
                <div class="resume-item">
                    <h4>A/Prof. (adj.), National University of Singapore (NUS)</h4>
                    <h5>2009 - 2013</h5>
                </div>
                <div class="resume-item">
                    <h4>CNRS Research Fellow, IPAL UMI CNRS 2955, Singapore</h4>
                    <h5>2005 - 2011</h5>
                </div>
                <div class="resume-item">
                    <h4>A/Prof., Univ. of Franche-Comté, Research Fellow at FEMTO-ST Institute, France</h4>
                    <h5>1999 - 2005</h5>
                </div>
                <div class="resume-item">
                    <h4>Project Manager, General Electric Energy European Technology Ctr, Belfort, France</h4>
                    <h5>1998 - 1999</h5>
                </div>
                <div class="resume-item">
                    <h4>Logistics and Planning Manager, Gaussin Manugistique, Héricourt, France</h4>
                    <h5>1997 - 1998</h5>
                </div>
                <div class="resume-item">
                    <h4>Lecturer, Univ. Inst. of Technology of Belfort, Univ. Franche-Comté, Belfort, France IUT
                        Belfort-Montbéliard</h4>
                    <h5>1993 - 1996</h5>
                </div>
                <div class="resume-item">
                    <h4>Research Fellow, R&D Inst. Welding & Material Testing (ISIM), Timisoara, Romania</h4>
                    <h5>1992 - 1993</h5>
                </div>

                <h3 class="resume-title">Other professional activities:</h3>
                <div class="resume-item">
                    <h4>Project Manager</h4>
                    <h5>1998 - 1999</h5>
                    <p><em>Gas turbine department, Belfort, France
                        (B€1,2 /2000 persons)</em></p>
{#                    <p><em>General_Electric_Energy_European_Technology_Center, Gas turbine department, Belfort, France#}
{#                        (B€1,2 /2000 persons)</em></p>#}
                    <p style="text-align:justify">Design, technical, production, logistics and financial management of
                        gas turbines projects.
                        Reengineering, General Electric integration teams.</p>
                </div>
                <div class="resume-item">
                    <h4>Logistics and Planning Manager</h4>
                    <h5>1997 - 1998</h5>
                    <p><em>Gaussin_S.A., Héricourt, France</em></p>
                    <p style="text-align:justify">Design and fabrication of special trailers for industry, airport and
                        seaport (M€10 /100 persons).
                        Logistic management, supply chain management, Reengineering and management of a distributed
                        subsidiary structure.</p>
                </div>
                <div class="resume-item">
                    <h4>Lecturer</h4>
                    <h5>1997 - 1998</h5>
                    <p><em>University Institute of Technology of Belfort, France</em></p>
                    <p style="text-align:justify">Logistic management, supply chain management courses and laboratory.
                        Flexible production system
                        laboratory (RFID, Programmable Logic Controllers programming, production flow management through
                        PLC programming)</p>
                </div>
            </div>
            <div class="col-lg-6">

                <h3 class="resume-title">Scientific activities:</h3>
                <div class="resume-item pb-0">
                    <h4>General competencies: BioMedical Image Understanding, Semantics for high-content image
                        exploration, Content-Based Medical Image Retrieval.</h4>
                    <p><em>Main projects:</em></p>

                    <p>
                    <ul>
                        <li style="text-align:justify">PAPHOS Platform for Advanced Prescriptive Health Operational
                            System, helping healthcare
                            providers embrace the data-driven revolution, EIT Health - European Institute of Innovation
                            & Technology (2016-2018)
                        </li>
                        <li style="text-align:justify">Bio-Engineering for health. Multiparametric ultrasonic
                            classification to evaluate tumor
                            progression, Medical Research Foundation (FRM - Fondation pour le Recherche Médicale,
                            France) (2014-2016)
                        </li>
                        <li style="text-align:justify">Quantitative Tumour Angiogenesis Assessments using 3D
                            Radiographic/ Histopathologic Imaging
                            and Xenotransplantation for Cancer Therapy, Career Development Award (CDA) A*STAR/JCO (Joint
                            Council Office : SERC-BMRC/A*STAR) Singapore (2014-2017)
                        </li>
                        <li style="text-align:justify">IAMS - "A suite of integrated microscopy systems for imaging
                            anatomies of complex 3D cell
                            culture systems", granted by A*STAR/JCO (Joint Council Office SERC-BMRC/A*STAR) Singapore
                            (2013-2016)
                        </li>
                        <li style="text-align:justify">FlexMIm – "Collaborative digital histopathology", project funded
                            by the Consolidated
                            Interministerial Fund (FUI - Fonds Unitaires Interministériels), French Ministry of Industry
                            (MINEFE) (2013-2016)
                        </li>
                    </ul>
                    </p>
                </div>
                <div class="resume-item pb-0">
                    <h4>Activities at IPAL UMI CNRS, Singapore (2005 - 2014):</h4>
                    <p style="text-align:justify">Researches focusing on Knowledge-based Medical Image Analysis, Medical
                        Image-based Reasoning
                        Systems, Medical Image Analysis, Medical Image Semnatic Indexing and Retrieval, Content Based
                        Medical Image Retrieval, Medical Ontologies, Fusion between Medical Image Modalities.</p>

                    <p style="text-align:justify">Keywords: Biomedical Image Analysis, Indexing, Retrieval and
                        Management, Fusion Between Medical
                        Multimedia, Machine Learning.</p>
                    <p><em>Main projects:</em></p>

                    <p>
                    <ul>
                        <li style="text-align:justify">MICO - "COgnitive MIcroscope: A cognition-driven visual explorer
                            for histopathology.
                            Application to breast cancer grading", (2011-2014), Technologies for Health program (TecSan
                            - Technologies pour la Santé) of the French National Research Agency (Agence Nationale de la
                            Recherche - ANR).
                        </li>
                        <li style="text-align:justify">IC0604 - EURO-TELEPATH - “Telepathology Network in Europe” COST
                            Action European Cooperation
                            in Science and Technology: Telepathology, virtual microscopy, histopathology (2007-2011)
                        </li>
                        <li style="text-align:justify">IVS4NSC - "An Intelligent Vision System for Quantitative
                            Microscopy in Neural Stem Cells
                            Progenitor Growth and Differentiation" A*STAR/JCO (Joint Council Office SERC-BMRC/A*STAR)
                            Singapour (2009-2013)
                        </li>
                        <li style="text-align:justify">MMedWeb - "Multimedia Medical Conceptual Web for Intelligent
                            Information Access",
                            A*STAR/SERC - Science & Engineering Research Council, Agency for Science, Technology and
                            Research, Singapore 2007-2010)
                        </li>
                        <li style="text-align:justify">ONCO-MEDIA "Ontology and COntext related MEdical image
                            Distributed Intelligent Access",
                            granted by the 5th ICT-ASIA Programme (2006-2010)
                        </li>
                    </ul>
                    </p>


                    <p>Scientific events co-organized in this period:</p>
                    <p>
                    <ul>
                        <li style="text-align:justify">ICPR 2014,Mitosis & Atypia international benchmark, Stockolm,
                            Sweden, Aug. 2014.
                        </li>
                        <li style="text-align:justify">ICPR 2012, Mitosis detection int. benchmark, Tsukuba, Japan, Nov.
                            2012 [link]
                        </li>
                        <li style="text-align:justify">SinFra 2012, Singaporean - French IPAL Symposium, Paris, 15-16
                            Oct 2012 [link]
                        </li>
                        <li style="text-align:justify">WCCI2010, 2010, IEEE World Congress on Computational
                            Intelligence, Barcelona, Spain - 18-23
                            July 2010, Special Session : "Image Understanding an important step toward Visual Cognition"
                            [link]
                        </li>
                        <li style="text-align:justify">SFBI 2011, Singaporean-French BioImaging Seminar, 24-25 Feb.
                            2011, Biopolis, Singapore
                            [link]
                        </li>


                        <li style="text-align:justify">SinFra'09 - 18-20th of February 2009, Fusionopolis, Singapore
                            [link] [pictures]
                        </li>
                        <li style="text-align:justify">ONCO-MEDIA - MIST 2007 (International Medical Informatics
                            Symposium in Taipei) workshop,
                            Wan-Fang Hospital, 19th November 2007, Taipei, Taiwan
                        </li>
                        <li style="text-align:justify">“Ontology and Context Related Medical Image Distributed
                            Intelligent Access” - ONCO-MEDIA
                            special session at the JAMIT (Japanese Society of Medical Imaging Technology) Annual
                            Meeting, 20th of July 2007, Tsukuba, Japan
                        </li>
                        <li style="text-align:justify">ONCO-MEDIA – AIST (National Institute of Advanced Industrial
                            Science and Technology)
                            Workshop, 18-19 July 2007, Tsukuba, Japan
                        </li>
                        <li style="text-align:justify">AIRS 2006 – Asia Information retrieval Symposium, 16-18 Oct 2006,
                            Singapore, “Medical Image
                            Retrieval” - Special Session.
                        </li>
                        <li style="text-align:justify">SFBI'06, 1st Singaporean-French Workshop in Medical Image, 12-13
                            October 2006, Biopolis,
                            Singapore [link]
                        </li>
                    </ul>
                    </p>
                </div>
                <div class="resume-item pb-0">
                    <h4>Activities at FEMTO-ST UMR CNRS, Besançon, France (1999 - 2005).</h4>
                    <p style="text-align:justify">Courses at the Sciences and Techniques Department, in the field of
                        artificial intelligence,
                        diagnosis and prognosis, maintenance and e-maintenance, fault detection, real time, non linear
                        systems and discrete event systems.</p>

                    <p style="text-align:justify">Research in the field of artificial intelligence applied to the
                        dynamic monitoring, diagnosis and
                        prognosis.</p>
                    <p><em>Main projects:</em></p>

                    <p>
                    <ul>
                        <li style="text-align:justify">PROTEUS (a generic platform for e-maintenance), FP5 European
                            Integrated Project of ITEA
                            program (Information Technology for European Advancement), 14 European industrial and
                            academic partners (France, Germany, Belgium)
                        </li>
                        <li style="text-align:justify">NEMOSYS (Naval E-Maintenance Oriented SYStem); Industry founded
                            project involving 6
                            industries and 3 academic partners from France
                        </li>
                    </ul>
                    </p>
                </div>

                <h3 class="resume-title">Academic Background</h3>
                <div class="resume-item">
                    <h4>HDR – (Habilitation à Diriger des Recherches)</h4>
                    <h5>2006</h5>
                    <p style="text-align:justify">Control and Computer Sciences, University of Franche-Comté, Besançon,
                        France : "Contribution to
                        the Production Systems Dynamic Monitoring using Artificial Intelligence Techniques".Keywords:
                        Dynamic Monitoring, Artificial Intelligence, Ambient Intelligence, Dynamic Neural Networks,
                        Neuro-Fuzzy Systems, Fuzzy Petri Nets, E-maintenance, Diagnosis, Prognosis. [HDR manuscript],
                        [HDR synopsis], [HDR sides].</p>
                </div>
                <div class="resume-item">
                    <h4>Ph.D</h4>
                    <h5>1997</h5>
                    <p style="text-align:justify">Control and Computer Sciences, University of Besançon, France (with
                        highest distinction - jury’s
                        congratulations – THFJ : Très honorable avec les félicitations du jury): "Contributions in the
                        field of stochastic model (Markov Chains) reduction. Applications to the hydropower production
                        system management". Keywords: Stochastic Modeling, Markov Chains, Control, Reduction Methods,
                        Principal Component Analysis (PCA), Singular Perturbations. [manuscript (french+english
                        abstracts)], [PhD. slides].</p>
                </div>
                <div class="resume-item">
                    <h4>M.Sc. (Master of Science)</h4>
                    <h5>1993</h5>
                    <p style="text-align:justify">Control Sciences, Université de Technologie de Belfort-Montbéliard,
                        Belfort, France (major and
                        with distinction - trés bien).</p>
                </div>
                <div class="resume-item">
                    <h4>M.Eng./Dipl.Ing. (Master of Engineering / Diploma de Inginer)</h4>
                    <h5>1992</h5>
                    <p style="text-align:justify">Mechatronic Production Systems, TCM Dpt., Politehnica University of
                        Timisoara (with highest
                        distinction - 10/10).</p>
                </div>

            </div>
        </div>

    </div>
</section>