{% load static %}

<section id="short_bio" class="resume">
    <div class="container">

        <div class="section-title">
            <span>Short Bio</span>
            <h2>Short Bio</h2>
            <p style="text-align:justify">Professor in Biomedical Image and Data Computing at Sorbonne University, Paris, and PI at ARAMIS INRIA team / Paris Brain Institute (ICM / Piti-Salpêtrière Hospital), my areas of interest are Medical Image Analysis and Pattern Recognition, my research focusing mainly on Computational Pathology and its Integrative aspects.
            </p>
            <p style="text-align:justify">
                Dr.habil. (2006) and Ph.D. (1997) at Univ. of Franche-Comté, Besançon, France, M.Sc. at the Technologycal University Belfort-Montbéliard, France and M.Eng. / Engineer's degree (1992) at "Politehnica" University from Timisoara, Romania, I was Project Manager at General Electric Energy Products - Europe, before joining, in 1999, a chair of Associate Professor at the University of Besançon, with a Research Fellow position at FEMTO-ST Institute (UMR CNRS - French National Research Center), Besançon, France.
            </p>
            <p style="text-align:justify">
                From 2005 to 2014, I participated to the development of the International Joint Research Unit (UMI CNRS) IPAL (Image & Pervasive Access Lab), being the Director (from 2008 to 2014) of this international research venture between the Sorbonne University, the French National Center for Scientific Research (CNRS), the National University of Singapore (NUS), the Agency for Science, Technology and Research (A*STAR), the Univ. Grenoble Alpes and the Institut Mines-Telecom, in Singapore. Between 2010 and 2014, I was the first co-president of the R&D committee of the French Chamber of Commerce in Singapore (FCCS) and from 2009 to 2015, I was Full Professor (adj.) at the School of Computing, National University of Singapore.
            </p>
            <p style="text-align:justify">
                In 2012, with my team and under my leadership, we organised the first international medical challenge/benchmark in digital pathology. This challenge, entitled "Mitosis Detection in Breast Cancer Histological Images" (MITOS 2012), was organized in the framework of the 21st International Conference on Pattern Recognition - ICPR 2012, which was hold between 11 and 15th of Nov. 2012, in Tsukuba, Japan. After this first success, we organised a second event, in the area of Atypia assessment in Breast Cancer Histological Images (ATYPIA 2014), in the framework of ICPR 2014, 22nd International Conference on Pattern Recognition, 24-28 Aug 2014, Stockholm, Sweden. These initiatives pathed the way towards a translational computational pathology, on the move now, in Europe and USA, towards a daily use in routine diagnostic (the first FDA approval recently came out in 2017, in this sense).
            </p>
            <p style="text-align:justify">
                From 2016 to 2018, I was detached as Professor to the Pontifical Catholic University of Peru. During this period I manage to bring MICCAI 2020, for the first time, in Latin America. I am general chair of this very reputable conference.
            </p>
            <p style="text-align:justify">
                From 2018 to 2020, I wasÂ the President (after being Vice-President between 2016 and 2018) of the European Society of Digital and Integrative Pathology, participating to the creation and the growth of this academic society. I am still a member of the Advisory Board of this society. This is a continuation of my consistent involvement in this area, since the early stages of its development, in 2006. I have been involved in the organization of the European Conference of Digital Pathology in Paris (ECDP 2014) and consistently participating to ECDP conferences as Member of the Scientific Committee.
            </p>
            <p style="text-align:justify">
                Between 2014 and 2016, I was a member of the first Executive Board of the University Institute of Health Engineering of the Sorbonne University, being also co-Director and co-initiator of a new B.Sc. Minor, dedicated to Innovation in Public Health. During the same period, I was leading the Cancer Theranostics research team at the Bioimaging Lab, a joint research unit created between Sorbonne University, CNRS and INSERM (French National Institute of Health and Medical Research).
            </p>
            <p style="text-align:justify">
                Since 2018, I am a member of the Board of Directors of MICCAI (Medical Image Computing & Computer Assisted Intervention).
            </p>
        </div>

    </div>
</section>