{% load static %}

<section id="testimonials" class="testimonials">
    <div class="container position-relative">

        <div class="section-title">
            <span>Students</span>
            <h2>Students</h2>
        </div>


        <div class="testimonials-slider swiper-container" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <img src="{% static 'img/students/oumeimalaifa.png' %}" class="testimonial-img" alt="">
                        <h3>Oumeima Laifa</h3>
                        <h4>Graduated Ph.D.s Supervised</h4>
                        <p><strong>A Joint Discriminative-generative Approach For Tumor Angiogenesis Assessment In
                            Computational Pathology</strong></p>
                        <p>Ph.D. Of The Sorbonne University, Paris, France</p>
                        <p>EDITE, Ed130 Doctoral School - Computer Science, Telecommunication And Electronics</p>
                        <p>Ph.D. Oral Defense: 2 Sept. 2019, Paris, France</p>
                        <p>jury: Prof. Yannick Kergosien (president), Prof. Maria Gloria Bueno Garcia(reviewer),
                            A/Prof.Dr.Habil. Vlad Popovici (reviewer), A/Prof. Nicolas Lomenie (examiner), Dr.Habil.
                            Thierry Delzescaux (examiner), Prof. Daniel Racoceanu (supervisor)</p>
                        <p>co-supervised With Dr Wee Kuan Lee (Bioinformatics Institute, A*STAR, Singapore)</p>
                        <p><a href="pubs/PhD_supervized/PhD_oumeimalaifa.pdf">[Ph.D. Report]</a> &amp; <a
                                href="pubs/PhD_supervized/PhD_oumeimalaifa_slides.pdf">[slides]</a></p>
                        <p>&nbsp;</p>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <img src="{% static 'img/students/laminetraore.png' %}" class="testimonial-img" alt="">
                        <h3>Lamine Traore</h3>
                        <h4>Graduated Ph.D.s Supervised</h4>
                        <p><strong>Semantic Modelling Of A Histopathology Imageexploration And Analysis Tool</strong>
                        </p>
                        <p>Ph.D. of the University Pierre And Marie Curie, Paris, France</p>
                        <p>ED393 Doctoral School - Public Health: Epidemiology And Biomedical Informatics</p>
                        <p>8 Dec. 2017, Paris, France</p>
                        <p>jury: Prof. Patrick Brezillon (president), Prof. Jacques Demongeot (reviewer), Dr Bernard
                            Gibaud (reviewer), Dr Charlotte Gardair, Md (examiner), Prof. Yannick Kergosien
                            (supervisor), Prof. Daniel Racoceanu (supervisor)</p>
                        <p><a href="pubs/PhD_supervized/PhD_laminetraore.pdf">[Ph.D. Report]</a> &amp; <a
                                href="pubs/PhD_supervized/ResumeThese_laminetraore.pdf">[synopsis]</a> &amp; <a
                                href="pubs/PhD_supervized/PhD_laminetraore_slides.pdf">[slides]</a></p>
                        <p>&nbsp;</p>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <img src="{% static 'img/students/BassemBENCHEIKH.jpeg' %}" class="testimonial-img" alt="">
                        <h3>Bassem Ben Cheikh</h3>
                        <h4>Graduated Ph.D.s Supervised</h4>
                        <p><strong>Graph-based Mathematical Morphology For The Characterization Of The Spatial
                            Organization Of Histological Structures In High-content Images: Application To Tumor
                            Microenvironment In Breast Cancer</strong></p>
                        <p>Ph.D. of the University Pierre And Marie Curie, Paris, France</p>
                        <p>EDITE, Ed130 Doctoral School - Computer Science, Telecommunication And Electronics</p>
                        <p>26 Sept 2017, Paris, France</p>
                        <p>jury: Prof. Yannick Kergosien (president), Prof. Olivier Lezoray (reviewer), Prof. Peter
                            Hufnagl (reviewer), Prof. Wiliam Puech (examiner), Prof. Daniel Racoceanu (supervisor)</p>
                        <p><a href="pubs/PhD_supervized/PhD_BassemBENCHEIKH.pdf">[Ph.D. Report]</a> &amp; <a
                                href="pubs/PhD_supervized/ResumeThese_BassemBENCHEIKH.pdf">[synopsis]</a> &amp; <a
                                href="pubs/PhD_supervized/PhD_BassemBENCHEIKH_slides.pdf">[slides]</a></p>
                        <p>&nbsp;</p>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <img src="{% static 'img/students/OlivierMORERE.jpg' %}" class="testimonial-img" alt="">
                        <h3>Olivier Morere</h3>
                        <h4>Graduated Ph.D.s Supervised</h4>
                        <p><strong>Deep Learning Compact And Invariant Image Descriptors For Instance Retrieval</strong>
                        </p>
                        <p>Ph.D. of the University Pierre And Marie Curie, Paris, France</p>
                        <p>EDITE, Ed130 Doctoral School - Computer Science, Telecommunication And Electronics</p>
                        <p>8 June 2016, Paris, France</p>
                        <p>jury: A/prof. Nicolas Tome (president), Prof. Henning Muller (reviewer), Prof. Gerard Bloch
                            (reviewer), Prof. Jacques Demongeot (examiner), Prof. Daniel Racoceanu (supervisor), Dr
                            Antoine Veillard (co-supervisor), Dr Vijay Chandresekhar (co-supervisor) </p>
                        <p>co-supervised With Dr Antoine Veillard (upmc), Dr Vijay Chandresekhar (i<sup>2</sup>r,
                            A*star) And Dr Hanlin Goh (i<sup>2</sup>r, A*star)</p>
                        <p><a href="pubs/PhD_supervized/PhD_OlivierMORERE.pdf">[Ph.D. Report]</a> &amp; <a
                                href="pubs/PhD_supervized/PhD_OlivierMORERE_slides.pdf">[slides]</a></p>
                        <p>&nbsp;</p>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <img src="{% static 'img/students/SreetamaBASU.jpg' %}" class="testimonial-img" alt="">
                        <h3>Sreetama Basu</h3>
                        <h4>Graduated Ph.D.s Supervised</h4>
                        <p><strong>Digital Reconstruction Of Neuronal Structures From 3d Microscopy Data</strong></p>
                        <p>Ph.D. Of The National University Of Singapore</p>
                        <p>24 March 2014, Singapore</p>
                        <p>co-supervised With A/prof. Wei-tsang Ooi, National University Of Singapore</p>
                        <p>first Position After Ph.D.: Research Fellow, Ecole Normale Supérieure, Paris, France.</p>
                        <p><a href="pubs/PhD_supervized/PhD_SreetamaBASU.pdf">[Ph.D. Report]</a> &amp; <a
                                href="pubs/PhD_supervized/PhD_SreetamaBASU_slides.pdf">[slides]</a></p>
                        <p>&nbsp;</p>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <img src="{% static 'img/students/AntoineVEILLARD.jpg' %}" class="testimonial-img" alt="">
                        <h3>Antoine Fagette</h3>
                        <h4>Graduated Ph.D.s Supervised</h4>
                        <p><strong>Dense Crowd Analysis</strong></p>
                        <p>Ph.D. of the University Pierre And Marie Curie, Paris, France</p>
                        <p>EDITE, Ed130 Doctoral School - Computer Science, Telecommunication And Electronics</p>
                        <p>13 June 2014, Paris, France</p>
                        <p>jury: Reviewers: Prof. Lawrence Wong (nus) And Dr Ivan Laptev (inria), Members: Dr Fabien
                            Moutarde (mines Paristech (ecole Nationale Supérieure Des Mines, Paris), Prof. Matthieu Cord
                            (upmc), A/prof. Nicolas Courty (univ. Bretagne Sud), Supervisor: Prof. Daniel Racoceanu
                            (upmc), Co-supervisor: Dr Jean-yves Dufour (thales).</p>
                        <p>position After The Ph.D.: Thales-asia Solution Engineer</p>
                        <p><a href="pubs/PhD_supervized/PhD_AntoineFAGETTE.pdf">[Ph.D. Report]</a> &amp; <a
                                href="pubs/PhD_supervized/ResumeThese_AntoineFAGETTE.pdf">[synopsis]</a> &amp; <a
                                href="pubs/PhD_supervized/PhD_AntoineFAGETTE_slides.pdf">[slides]</a></p>
                        <p>&nbsp;</p>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <img src="{% static 'img/students/StephaneRIGAUD.jpg' %}" class="testimonial-img" alt="">
                        <h3>Stéphane Rigaud</h3>
                        <h4>Graduated Ph.D.s Supervised</h4>
                        <p><strong>Analysis-synthesis Approach For Neurosphere Modelisation Under Phase-contrast
                            Microscopy</strong></p>
                        <p>Ph.D. of the University Pierre And Marie Curie, Paris, France</p>
                        <p>EDITE, Ed130 Doctoral School - Computer Science, Telecommunication And Electronics</p>
                        <p>10th Of March 2014, Paris, France</p>
                        <p>jury: Reviewers: Xavier Descombes (DR CNRS Sophia Antipolis) And Patrick Bouthemy (DR INRIA
                            Rennes), Examiners: Vincent Demouly (UPMC), Thomas Boudier (UPMC), Supervisor: Daniel
                            Racoceanu (Sorbonne Univ. - UPMC), Co-supervisor : Joo-hwee Lim (I2R/a*STAR, Advisor :
                            Nicolas Lomenie (UPD)</p>
                        <p>first Position After Ph.D.: Institut Curie, Paris, France, (3 Years Contract)</p>
                        <p><a href="pubs/PhD_supervized/PhD_StephaneRIGAUD.pdf">[Ph.D. Report]</a> &amp; <a
                                href="pubs/PhD_supervized/PhD_StephaneRIGAUD_synopsis.pdf">[synopsis]</a> &amp; <a
                                href="pubs/PhD_supervized/PhD_StephaneRIGAUD_slides.pdf">[slides]</a></p>
                        <p>&nbsp;</p>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <img src="{% static 'img/students/HumayunIRSHAD.jpg' %}" class="testimonial-img" alt="">
                        <h3>Humayun Irshad</h3>
                        <h4>Graduated Ph.D.s Supervised</h4>
                        <p><strong>Automated Mitosis Detection In Color And Multispectral High-content Images In
                            Histopathology: Application To Breast Cancer Grading In Digital Pathology</strong></p>
                        <p>Ph.D. of The University Grenoble Alpes, UJF-Grenoble 1.
                        </p>
                        <p>20th Of January 2014, Grenoble, France</p>
                        <p>jury: Reviewers: William Puech (university Montpellier) And Nasir Rajpot (warwick University,
                            Uk), Members : Jean-marc Chassery (dr Cnrs, Grenoble), Frédérique Capron (ghu-ps, Upmc,
                            Paris), Alexandre Gouaillard, (temasys Communications, Singapore), Jacques Klossa (tribvn,
                            Chatillon), Supervisor : Daniel Racoceanu (upmc, Paris) And Ludovic Roux (ujf Grenoble 1)
                            Co-supervisor. </p>
                        <p>first Position After Ph.D.: Research Fellow, Harvard Medical School, Boston, Us (3 Years
                            Contract).</p>
                        <p><a href="pubs/PhD_supervized/PhD_HumayunIRSHAD.pdf">[Ph.D. Report]</a> &amp; <a
                                href="pubs/PhD_supervized/PhD_HumayunIRSHAD_synopsis.pdf">[synopsis]</a> &amp; <a
                                href="pubs/PhD_supervized/PhD_HumayunIRSHAD_slides.pdf">[slides]</a></p>
                        <p>&nbsp;</p>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <img src="{% static 'img/students/AntoineVEILLARD.jpg' %}" class="testimonial-img" alt="">
                        <h3>Antoine Veillard</h3>
                        <h4>Graduated Ph.D.s Supervised</h4>
                        <p><strong>Kernel Methods For The Incorporation Of Prior-knowledge Into Support Vector
                            Machines</strong></p>
                        <p>Ph.D. of the National University Of Singapore</p>
                        <p>11 Dec. 2012, Singapore</p>
                        <p>jury: Gérard Bloch (reviewer), Michael S. Brown (reviewer), Mong Li Lee (president), Stéphane
                            Bressan (co-supervisor), D. Racoceanu (co-supervisor)</p>
                        <p>first Position After Ph.D.: Research Fellow @ University Pierre And Marie Curie (3 Years
                            Contract)</p>
                        <p><a href="pubs/PhD_supervized/PhD_AntoineVEILLARD.pdf">[Ph.D. Report]</a> &amp; <a
                                href="pubs/PhD_supervized/PhD_AntoineVEILLARD_synopsis.pdf">[synopsis]</a> &amp; <a
                                href="pubs/PhD_supervized/PhD_AntoineVEILLARD_slides.pdf">[slides]</a></p>
                        <p>&nbsp;</p>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <img src="{% static 'img/students/RoxanaTEODORESCU.jpg' %}" class="testimonial-img" alt="">
                        <h3>Roxana Oana Teodorescu</h3>
                        <h4>Graduated Ph.D.s Supervised</h4>
                        <p><strong>Parkinson's Disease Prognosis Using Diffusion Tensor Imaging Features
                            Fusion/ Pronostic De La Maladie De Parkinson, Basé Sur La Fusion Des
                            Caractéristiques D'images Par Résonance Magnétique De Diffusion </strong></p>
                        <p>double Ph.D. Diplomae: University Of Franche-comté And Politehnica University Of
                            Timisoara</p>
                        <p>11 Apr. 2011,Besançon, France</p>
                        <p>jury: Henning Muller (president), Pierre Jannin (reviewer), Touradj Ebrahimi (reviewer),
                            Vladimir Ioan Cretu (co-supervisor), Daniel Racoceanu (co-supervisor), Noureddine
                            Zerhouni. </p>
                        <p>first Position After The Ph.D.: Research Fellow @ Mount Sinai University Hospital, New York
                            (3 Years Contract)</p>
                        <p><em class="dr"><a href="pubs/PhD_supervized/PhD_RoxanaTEODORESCU.pdf">[Ph.D. Report]</a>
                            &amp; <a href="pubs/PhD_supervized/PhD_RoxanaTEODORESCU_slides.pdf">[slides]</a></em></p><em
                            class="dr">
                        <p>&nbsp;</p></em>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <img src="{% static 'img/students/adinatutac.png' %}" class="testimonial-img" alt="">
                        <h3>Adina Eunice Tutac</h3>
                        <h4>Graduated Ph.D.s Supervised</h4>
                        <p><strong>Formal Representation And Reasoning For Microscopic Medical Image-based Prognosis.
                            Application To Breast Cancer Grading / Représentation Et Raisonnement Formels Pour
                            Le Pronostic Basé Sur L’imagerie Médicale Microscopique. Application à La Graduation Du
                            Cancer Du Sein </strong></p>
                        <p>double Ph.D. Diplomae: University Of Franche-comté And Politehnica University Of
                            Timisoara</p>
                        <p>22 Oct. 2010, Timisoara, Romania</p>
                        <p>jury: Nicolae Robu (president), Christian Roux (reviewer), Henning Muller (reviewer), V.
                            Cretu (co-supervisor), D. Racoceanu (co-supervisor), Nicolas Lomenie, Noureddine Zerhouni,
                            Gheorghe Mihalas, Jacques Klossa (research Director Sme Tribvn)</p>
                        <p>first Position After The Ph.D.: R&amp;d Manager At Sionic Srl, Timisoara, Romania</p>
                        <p><em class="dr"><a href="pubs/PhD_supervized/PhD_adinatutac.pdf">[Ph.D. Report]</a> &amp; <a
                                href="pubs/PhD_supervized/PhD_adinatutac_slides.pdf">[slides]</a></em></p><em
                            class="dr">
                        <p>&nbsp;</p></em>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <img src="{% static 'img/students/nicolaspalluat.jpg' %}" class="testimonial-img" alt="">
                        <h3>Nicolas Palluat</h3>
                        <h4>Graduated Ph.D.s Supervised</h4>
                        <p><strong>Dynamic Monitoring Using Temporal Neuro-fuzzy Systems / méthodologie De
                            Surveillance Dynamique à L’aide Des Réseaux Neuro-flous Temporels</strong></p>
                        <p>Ph.D. of the University of Franche-comté, </p>
                        <p>12 Jan. 2006, Besançon, France</p>
                        <p>jury : C. Chu (president), P. Brézillon (reviewer), B. Ould-bouamama (reviewer), A.
                            Bourjault, J-m. Olive, D. Racoceanu (co-supervisor), N. Zerhouni (co-supervisor), J-b Leger
                            (ceo Predict).</p>
                        <p>first Position After The Ph.D.: Post-doctoral Fellow In Brezil (2,5 Years Contract)</p>
                        <p><em class="dr"><a href="pubs/PhD_supervized/PhD_nicolaspalluat.pdf">[Ph.D. Report]</a> &amp;
                            <a href="pubs/PhD_supervized/PhD_nicolaspalluat_slides.pdf">[slides]</a></em></p><em
                            class="dr">
                        <p>&nbsp;</p></em>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <img src="{% static 'img/students/eugeniaminca.jpg' %}" class="testimonial-img" alt="">
                        <h3>Eugenia Minca</h3>
                        <h4>Graduated Ph.D.s Supervised</h4>
                        <p><strong>Discrete Events Systems Monitoring Using Fuzzy Petri Nets. Application To Flexible
                            Production Systems E-maintenance / Surveillance Des Systèmes En Utilisant Les
                            Réseaux De Petri Flous. Application à La E-maintenance De Systèmes Flexibles De Production
                        </strong></p>
                        <p>Ph.D. of the University Of Franche-comté, Besançon, </p>
                        <p>24 Sept. 2004, Târgoviste, Romania</p>
                        <p>jury : I. Cucui (president), V. Manzu (reviewer), C. Sibertin-blanc (reviewer), J. Cardoso,
                            A. Dorin, N. Zerhouni (co-supervisor), D. Racoceanu (co-supervisor)</p>
                        <p>first Position Afetehr The Ph.D.: A/prof. (tenure Position) University Valahia, Targoviste,
                            Romania</p>
                        <p><em class="dr"><a href="pubs/PhD_supervized/PhD_eugeniaminca.zip">[Ph.D. Report]</a> &amp; <a
                                href="pubs/PhD_supervized/PhD_eugeniaminca_slides.pdf">[slides]</a></em></p><em
                            class="dr">
                        <p>&nbsp;</p></em>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <img src="{% static 'img/students/ryadzemouri.jpg' %}" class="testimonial-img" alt="">
                        <h3>Ryad Zemouri</h3>
                        <h4>Graduated Ph.D.s Supervised</h4>
                        <p><strong>Monitoring Using Dynamic Neural Networks: Application To The E-maintenance /
                            Contribution à La Surveillance Des Systèmes à L’aide Des Réseaux De Neurones Dynamiques:
                            Application à La E-maintenance</strong></p>
                        <p>Ph.D. of the University Of Besançon, France</p>
                        <p>28 Nov. 2003, Besançon, France</p>
                        <p>Jury: A. Bourjault (president), D. Hammad (reviewer), D. Noyes (reviewer), J-m. Faure, D.
                            Racoceanu (co-supervisor), N. Zerhouni (co-supervisor), R. Labourier (ceo Avensy
                            Ingénierie).</p>
                        <p>first Position After The Ph.D.: A/prof. (tenure Position) Conservatoire National Des Arts Et
                            Métiers (cnam), Paris, France</p>
                        <p><em class="dr"><a href="pubs/PhD_supervized/PhD_ryadzemouri.pdf">[Ph.D. Report]</a> &amp; <a
                                href="pubs/PhD_supervized/PhD_ryadzemouri_slides.pdf">[slides]</a></em></p>
                    </div>
                </div><!-- End testimonial item -->


            </div>
            <div class="swiper-pagination"></div>
        </div>

    </div>
</section>